<%# スケジュールフォーム %>
<div class="form-out col-md-12 col-sm-12 col-xs-12">
  <p class="form-tit">スケジュール</p>
  <%# dayフォーム %>
  <div class="form-in">
    <% i = 1 %>
    <%= trip_f.nested_fields_for :days, wrapper_tag: :div do |day| %>
      <div class="eachday-form">
        <div class=eachday-form-date>
          <span class="each-form-in">
            <span class="date-count">【<%= i %>日目】</span>
            <%= day.date_select :date %>
          </span>
          <span class="each-day-delete">
            <%= day.remove_nested_fields_link do %>
              <i class="fas fa-times"></i>
            <% end %>
          </span>
        </div>
        <%# 個別スケジュールフォーム %>
        <%= render "schedule_form", day: day %>
      </div>
      <% i += 1 %>
    <% end %>
    <span class="each-day-add">
      <%= trip_f.add_nested_fields_link :days do %>
        <i class="fas fa-plus-circle"></i>日付追加
      <% end %>
    </span>
  </div>
</div>
