<%# noteフォーム %>
<%= form_for(trip) do |trip_f|%>
  <div class="notes-form">
    <p class="note-tit">旅行メモ</p>
    <%= trip_f.nested_fields_for :notes, wrapper_tag: :div do |n| %>
      <div class="eachnote-form">
        <span class="noteform-info">
          <%= n.text_field :subject, class: 'form-control' %>
        </span>
        <span class="noteform-info">
          <%= n.text_area :content, class: 'form-control' %>
        </span>
        <%= n.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
      </div>
    <% end %>
    <%= trip_f.add_nested_fields_link :notes, '追加', class: 'btn btn-primary', role: 'button' %>
  </div>
<% end %>