<li id="trip-<%= trip.id %>">
  <div class="eachtrip">
    <%= link_to trip do  %>
      <div class="eachtrip-info row">
        <div class= "col-md-5">
          <div class="eachtrip-picture">
            <%= image_tag trip.picture.thumb300.to_s, class: "img-responsive" %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="eachtrip-name">
            <%= trip.name %>
          </div>
          <div class="eachtrip-content">
            <%= trip.content %>
          </div>
          <span class="timestamp">
            <%= time_ago_in_words(trip.created_at) %>前に投稿
          </span>
          <% if current_user?(trip.user) %>
            <span class="delete-icon">
              <%= link_to trip, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                旅行プランを削除
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</li>