<% provide(:title, "旅行プランの編集") %>
<%= form_for(@trip) do |trip_f|%>
  <div class="whitebox">
    <div class="trip-picture">
      <%= image_tag @trip.picture.to_s, class: "img-responsive" %>
    </div>
    <span class="tripform-info">
      <%= trip_f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
    </span>
    <span class="tripform-info">
      <%= trip_f.label :name, '旅行名' %>
      <%= trip_f.text_field :name, class: 'form-control' %>
    </span>
    <span class="tripform-info">
      <%= trip_f.label :content, '旅行概要' %>
      <%= trip_f.text_area :content, class: 'form-control' %>
    </span>
    <div class="schedule-form">
      <%= trip_f.fields_for :schedules, @trip.schedules.build do |s| %>
        <div class="row">
          <div class="col-md-3">
            <div class = 'form-group'>
              <%= s.datetime_field :date, class: 'form-control', placeholder: "月：日：時間" %>
            </div>
          </div>
          <div class="col-md-9">
            <div class = 'form-group'>
              <%= s.text_field :place, class: 'form-control' %>
            </div>
          </div>
        </div>
        <span class="tripform-info">
          <%= s.label :memo, 'memo' %>
          <%= s.text_field :memo, class: 'form-control' %>
        </span>
      <% end %>
    </div>
    <%= trip_f.submit "更新する", class: 'btn btn-default' %>
  </div>
<% end %>