<% provide(:title, "旅行プランの編集") %>
<%= form_for(@trip) do |trip_f|%>
  <div class="container">
    <div class="page-tit">
      旅行プラン編集
    </div>
    <div class="whitebox">
      <%# プラン概要フォーム %>
      <div class="trip-form row">
        <div class="trip-picture col-md-8">
          <%= image_tag @trip.picture.to_s, class: "img-responsive" %>
          <div class="trip-tit">
            <span class="tripform-info">
              <%= trip_f.text_field :name, placeholder: "旅行名", class: 'form-wide form-control' %>
            </span>
            <span class="tripform-info">
              <%= trip_f.text_area :content, placeholder: "サブタイトル", class: 'form-wide form-control' %>
            </span>
          </div>
          <span class="tripform-picture">
            <%= trip_f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
          </span>
        </div>
        <div class="trip-info col-md-4">
          <div class="tripform-info">
            <%= trip_f.country_select :country_code, selected: "JP", priority_countries: ["JP"], class: 'form-control' %>
          </div>
          <div class="tripform-info">
            <%= trip_f.text_field :area, placeholder: "エリア、都市名など", class: 'form-control' %>
          </div>
          <div class="trip-tag">
            <%= trip_f.text_field :tag_name, value: @tag_list %>
          </div>
        </div>
      </div>
      <%# noteフォーム %>
      <div class="note-form">
        <%= render "note_form", trip_f: trip_f %>
      </div>
      <%# スケジュールフォーム %>
      <div class="day-form">
        <%= render "day_form", trip_f: trip_f %>
      </div>
      <div class="center">
        <%= trip_f.submit "更新", class: 'btn-submit' %>
      </div>
    </div>
  </div>
<% end %>