<% if @selected_tag.present? %>
  <% provide(:title, @selected_tag.tag_name ) %>
<% else %>
  <% provide(:title, '旅行プラン一覧') %>
<% end %>
<div class="search-box gray-box">
  <div class="center">
    <%= render "shared/search_form" %>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="trip-index-tit center">
      <% if @selected_tag.present? %>
        <p class="page-tit">すべての旅行プラン</p>
        <p><%= "カテゴリー：#{@selected_tag.tag_name}" %></p>
      <% elsif @search.present? %>
        <p class="page-tit">すべての旅行プラン</p>
        <% unless @word.blank? %>
          <p><%= "検索 ：#{@word}" %></p>
        <% end %>
        <% unless @country.blank? %>
          <p><%= "検索 ：#{@country}" %></p>
        <% end %>
      <% else %>
        <p class="page-tit">すべての旅行プラン</p>
      <% end %>
    </div>
    <ul class="trips">
      <%= render @trips %> 
    </ul>
    <div class="center">
      <%= paginate @trips %>
    </div>
  </div>
</div>