<div>
  <%= image_tag @trip.picture.to_s, class: "img-responsive" %>
</div>
<div>
  <%= @trip.name %>
</div>
<div class="eachtrip-content">
  <%= @trip.content %>
</div>
<% if current_user?(@trip.user) %>
  <span class="edit-icon">
    <%= link_to edit_trip_path(@trip) do %>
      旅行プランを編集
    <% end %>
  </span>
  <span class="delete-icon">
    <%= link_to @trip, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
      旅行プランを削除
    <% end %>
  </span>
<% end %>