<% provide(:title, @trip.name) %>
<div class="center">
  <p class="trip-pdf-name">
    <%= @trip.name %>
  </p>
  <p class="trip-show-subname">
    <%= @trip.content %>
  </p>
</div>
<div class="trip-show-out">
  <p class="trip-show-tit"><i class="fas fa-pencil-alt"></i>旅行メモ</p>
  <div class="trip-show-in">
    <div class="trip-show-note">
      <% @trip.notes.each do |note| %>
        <div class="row trip-note-each">
          <span class="col-md-12 trip-note-subject">
            <%= note.subject %>
          </span>
          <div class="col-md-12 trip-note-content">
            <%= note.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="trip-show-out">
  <p class="trip-show-tit"><i class="fas fa-clock"></i>スケジュール</p>
  <div class="trip-show-in">
    <% @trip.days.each.with_index(1) do |day, i| %>
      <div class="trip-show-day">
        <% unless day.date.nil? %>
          <span class="date-count">
            【<%= i %>日目】
          </span>
          <div class="day-date">
            <%= day.date.strftime("%Y年%m月%d日") %>
          </div>
        <% end %>
      </div>
      <div class="trip-show-schedule">
        <% day.schedules.each do |schedule| %>
          <div class="trip-schedule-each row">  
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="trip-schedule-time">
                <%= schedule.time.strftime("%H:%M") %>
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 trip-schedule-right">
              <span class="trip-schedule-action">
                <%= wicked_pdf_image_tag('action/' + schedule.action + '.png', class: "img-responsive") %>
              </span>
              <div class="trip-schedule-info">
                <p class="trip-schedule-place">
                  <%= schedule.place %>
                </p>
                <p class="trip-schedule-memo">
                  <%= schedule.memo %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>  
  </div>
</div>
