<% provide(:title, @trip.name) %>
<div id="main">
  <div class="container">
    <div class="trip-show-head row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="trip-show">
          <div class="trip-show-picture">
            <%= image_tag @trip.picture.to_s, class: "img-responsive" %>
            <div class="trip-show-head">
              <p class="trip-show-name">
                <%= @trip.name %>
              </p>
              <p class="trip-show-subname">
                <%= @trip.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <%= render "trip_info", trip: @trip %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="trip-show-like">
        <%= render "likes/like_form", trip: @trip %>
      </div>
    <% end %>
    <div class="trip-show-out">
      <%= render "trip_note", trip: @trip %>
    </div>
    <div class="trip-show-out">
       <%= render "trip_schedule", trip: @trip %>
    </div>
    <% if user_signed_in? %>
      <div class="pdf-area">
        <span class="pdf-btn">
          <%= link_to trip_path(@trip.id, format: :pdf) do %>
            <i class="fas fa-file-pdf"></i>PDFに書き出す
          <% end %>
        </span>
      </div>
    <% end %>
    <% if current_user?(@trip.user) %>
      <div class="trip-show-btn">
        <span class="edit-icon btn">
          <%= link_to edit_trip_path(@trip) do %>
            <i class="fas fa-edit"></i>編集
          <% end %>
        </span>
        <span class="delete-icon btn">
          <%= link_to @trip, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <i class="far fa-trash-alt"></i>削除
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>