<% provide(:title, @trip.name) %>
<div class="container">
  <div class="row trip-show-head">
    <div class="col-md-8">
      <div class="trip-show">
        <div class="trip-show-picture">
          <%= image_tag @trip.picture.to_s, class: "img-responsive" %>
          <div class="trip-show-head">
            <p class="trip-show-name">
              <%= @trip.name %>
            </p>
            <p class="trip-show-subname">
              <%= @trip.content %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="trip-show-user">
        ここにユーザー情報かく
      </div>
      <div class="trip-show-info">
        <p class="trip-show-country">
          <%= @trip.country_name%>
        </p>
        <p class="trip-show-area">
          <%= @trip.area %>
        </p>
      </div>
      <div class="trip-show-tag">
        <% unless @trip.tags.blank? %>
          <ul>
            <% @trip.tags.each do |tag| %>
              <li>
                <%= link_to tag.tag_name,trips_path(tag_id:tag.id) %>
              </li>
            <% end %>
          </ul>
        <% end %>
        </p>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="trip-show-like">
      <%= render "likes/like_form", trip: @trip %>
      <span id="liked-countshow">
        <%= @trip.likes.count %>
      </span>
    </div>
  <% end %>
  <div class="trip-show-out">
    <p class="trip-show-tit"><i class="fas fa-pencil-alt"></i>旅行メモ</p>
    <div class="trip-show-in">
      <div class="trip-show-note">
        <% @trip.notes.each do |note| %>
          <div class="row trip-note-each">
            <span class="col-md-12 trip-note-subject">
              <%= note.subject %>
            </span>
            <div class="col-md-12 trip-note-content">
              <%= note.content %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="trip-show-out">
    <p class="trip-show-tit"><i class="fas fa-clock"></i>スケジュール</p>
    <div class="trip-show-in">
      <% @trip.days.each.with_index(1) do |day, i| %>
        <div class="trip-show-day">
          <% unless day.date.nil? %>
            <div class="day-count">
              <%= i %>日目
            </div>
            <div class="day-date">
              <%= day.date.strftime("%Y年%m月%d日") %>
            </div>
          <% end %>
        </div>
        <div class="trip-show-schedule">
          <% day.schedules.each do |schedule| %>
            <div class="trip-schedule-each row">  
              <div class="col-md-2 col-sm-2">
                <div class="trip-schedule-time">
                  <%= schedule.time.strftime("%H:%M") %>
                </div>
              </div>
              <div class="col-md-10 col-sm-10 trip-schedule-right">
                <span class="trip-schedule-action">
                  <%= image_tag('action/' + schedule.action + '.png', class: "img-responsive") %>
                </span>
                <div class="trip-schedule-info">
                  <p class="trip-schedule-place">
                    <%= schedule.place %>
                  </p>
                  <p class="trip-schedule-memo">
                    <%= schedule.memo %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>  
    </div>
  </div>
  <% if user_signed_in? %>
    <%= link_to trip_path(@trip.id, format: :pdf) do %>
      PDFに書き出す
    <% end %>
  <% end %>
  <% if current_user?(@trip.user) %>
    <div class="trip-show-btn">
      <span class="edit-icon btn">
        <%= link_to edit_trip_path(@trip) do %>
          <i class="fas fa-edit"></i>編集
        <% end %>
      </span>
      <span class="delete-icon btn">
        <%= link_to @trip, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <i class="far fa-trash-alt"></i>削除
        <% end %>
      </span>
    </div>
  <% end %>
</div>