<% provide(:title, "パスワード変更") %>
<div id="page-area">
  <div class="container">
    <h2 class="page-tit">パスワード変更</h2>
    <div class="user-form">
      <div class="user-form-in center">
        <%= form_for(current_user, url: {action: "password_update"}) do |f| %>
          <div class="field">
            <%= f.label :password, "新しいパスワード" %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: '6文字以上で入力してください' %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :current_password %> <i></i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "パスワード更新", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>