<%= provide(:title, @user.user_name)%>
<div class="user-info center">
  <div class="container">
    <div class="user-info-box row">
      <div class="user-left col-md-5 col-sm-5 col-xs-12">
        <span class="user-img">
          <%= image_tag @user.image.thumb.to_s %>
        </span>
      </div>
      <div class="user-right col-md-7 col-sm-7 col-xs-12">
        <div class="row">
          <div class="user-name col-md-12 col-sm-12 col-xs-12">
            <%= @user.user_name %>
          </div>
          <% if current_user?(@user) %>
            <div class="user-editbtn col-md-12 col-sm-12 col-xs-12">
              <%= link_to "プロフィール編集",  edit_user_registration_path, class: "btn" %>
            </div>
          <% else %>
            <%= render 'follow_form', user: @user %>
          <% end %>
          <div class="user-prof col-md-12 col-sm-12 col-xs-12">
              <%= @user.profile %>
          </div>
          <div class="countbox col-md-12 col-sm-12 col-xs-12">
            <%= render 'shared/stats', user: @user　%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="yellow-box">
  <div class="container">
    <% if @user.trips.any? %>
      <ol class="trips">
        <%= render @trips %>
      </ol>
    <% end %>
  </div>
</div>

