<% user ||= current_user %>
<div class="stats">
  <span>
    旅行数
    <%= user.trips.count %>
  </span>
  <span>
    フォロー
    <a href="<%= following_user_path(user) %>">
      <strong id="following" class="stat">
        <%= user.following.count%>
      </strong>
    </a>
  </span>
  <span>
    フォロワー
    <a href="<%= followers_user_path(user) %>">
      <strong id="followers" class="stat">
        <%= user.followers.count%>
      </strong>
    </a>
  </span>
</div>