<% provide(:title, "ログイン") %>
<div id="page-area">
  <div class="container">
    <h2 class="page-tit">ログイン</h2>
    <div class="user-form">
      <div class="user-form-in center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :login, 'メールアドレスまたはユーザーネーム' %><br />
            <%= f.text_field :login,  autofocus: true, autocomplete: "login", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, 'パスワード' %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: '6文字以上で入力してください' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn" %>
          </div>
        <% end %>
        <p class="user-form-text">アカウントをお持ちでない方はこちらから<%= link_to "新規登録", signup_path %>してください</p>
      </div>
    </div>
  </div>
</div>
