<header class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
  <div class="container">
    <%= link_to "Trilog", root_path, id: "logo" %>
    <nav>
      <ul class="header-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_trip_path do %>
              旅行プラン作成
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user)  do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
          <li class="dropdawn .dropdown-slide">
            <%= current_user.user_name %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              ログイン
            <% end %>
          </li>
          <li>
            <%= form_for(:user, url: login_path) do |f| %>
              <%= f.hidden_field :login, value: 'trilog@example.com' %>
              <%= f.hidden_field :password, value: 'trilog' %>
              <%= f.submit 'テストログイン', class: 'test-btn' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>