<header class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
  <div class="container">
    <%= link_to "Trilog", root_path, id: "logo" %>
    <nav>
      <ul class="header-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_trip_path do %>
              旅行プラン作成
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user)  do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to like_user_path(current_user)  do %>
              行きたいリスト
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>