<header class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
  <div class="container">
    <%= link_to "Trilog", root_path, id: "logo" %>
    <nav>
      <ul class="header-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to users_path do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              ログイン
            <% end %>
          </li>
          <li>
            <%= link_to signup_path do %>
              新規登録
            <% end %>
          </li> 
        <% end %>
      </ul>
    </nav>
  </div>
</header>